<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> (Responsive) -->
    <title>Transcendance</title>
    <!-- Balises méta supplémentaires pour le SEO ou les réseaux sociaux -->
    <meta name="description" content="Transcendance in SPA. This description is used by engines
	searches for displaying results and through social networks for previews when sharing links.">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- Optionnel : Un loader ou message de chargement -->
    <div id="app">
        <p>Application loading...</p> <!-- S'affiche jusqu'à ce que le JS prenne le relais -->
    </div>

    <script src="/static/js/main.js"></script>
    <!-- Le script main.js peut ensuite charger d'autres scripts ou stylesheets dynamiquement -->
</body>
</html>

